.btn {
  padding: 30px 40px;
  margin: 30px;
  background-image: url(../images/bgpicture.jpg);
  color: #fff6e9;
  font-size: 1.3rem;
  border-radius: 20px;
  border: none;

  &:hover {
    transform: scale(1.03) translateY(-10px);
    transition: 1s;
    cursor: pointer;
  }
}
